
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/app/MainIndexCss.css" />
</head>
<body>
    <div class="flex-container">
        <h1>Товары бетонного завода</h1>
        <label><img src="~/fonts/asfbeton.png" /><a href="/Home/Buy/1" target="_blank">Железобетон</a></label>
        <label><img src="~/fonts/Beton.jpg" /><a href="/Home/Buy/2" target="_blank">Асфальтбетон</a></label>
        <label><img src="~/fonts/keramzit.jpg" /><a href="/Home/Buy/3" target="_blank">Керамзитобетон</a></label>
    </div>
</body>
</html>
