html, body {
    height: 90vh;
    font-family: Helvetica Narrow, sans-serif;
    font-style: italic;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

label {
    width: 200px;
}

a {
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}

img {
    cursor: pointer;
}

h1 {
    margin-bottom: 10px;
}
